@mixin white-bg {
  &::before {
    content: ' ';
    position: absolute;
    right: 0;
    width: 0%;
    height: 100%;
    transform-origin: center left;
    background-color: #fff;
  }
}

/*
phone: ~ 559px
tablet: 560px ~ 959px
pc: 960px ~
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media (max-width: 35em) { @content }; // 560px
  }
  @else if $breakpoint == tablet {
      @media (max-width: 60em) { @content }; // 960px
  }
}
