@mixin white-bg {
  &::before {
    content: ' ';
    position: absolute;
    right: 0;
    width: 0%;
    height: 100%;
    transform-origin: center left;
    background-color: #fff;
  }
}
@mixin section-title {
  text-align: center;
  opacity: 1;
  display: inline-block;
  font-family: $font-family-standard;
  font-size: $font-size-section-header;
  font-weight: bold;
  margin-bottom: $margin-section-header-bottom;
  position: relative;
  &::before {
    content: "";
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0%, 0%);
    border-bottom: 2px solid #fff;
  }
}

/*
phone: ~ 767px
tablet: 768px ~ 1024px
pc: 1025px ~
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media (max-width: 47.9375em) { @content }; // 767px
  }
  @else if $breakpoint == tablet {
      @media (max-width: 64em) { @content }; // 1024px
  }
}
