@mixin white-bg {
  &::before {
    content: ' ';
    position: absolute;
    right: 0;
    width: 0%;
    height: 100%;
    transform-origin: center left;
    background-color: #fff;
  }
}

/*
phone: ~ 767px
tablet: 768px ~ 1024px
pc: 1025px ~
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media (max-width: 47.9375em) { @content }; // 767px
  }
  @else if $breakpoint == tablet {
      @media (max-width: 64em) { @content }; // 1024px
  }
}
