// screen sizes
$screen-size-restricted: 1200px;
// layer-order
$layer-cursor: 10;
$layer-cursor-outer: 11;
$layer-about: 2;
$layer-content-titleEN: 1;
$layer-about-image: -1;
$layer-drawing: -2;
// font family
$font-family-standard: 'Work Sans', 'Sawarabi Gothic', 'Helvetica', 'Hiragino Sans', 'MS Pゴシック', sans-serif;
$font-family-jp: 'Sawarabi Gothic', 'Helvetica', 'Hiragino Sans', 'MS Pゴシック', sans-serif;
$font-family-number: 'Arimo', 'Helvetica', 'Hiragino Sans', 'MS Pゴシック', sans-serif;
$font-family-nuink: sans-serif;
// font size
$font-size-landing-title: 6em; // default - 96px
$font-size-landing-date: 2.8em; // default - 46px
$font-size-landing-nuink: 1.6em; // default - 26px
$font-size-concept-section-title: 7.75em; // default - 124px
$font-size-concept-title: 4em; // default - 64px
$font-size-concept-subTitle: 2em; // default - 32px
$font-size-section-header: 3.25em; // default - 52px
$font-size-section-content: 1.06em; // default - 17px
$font-size-upcoming-board-message: 1.3125em; // default - 21px
$font-size-upcoming-board-announce: 1.06em; // default - 17px
$font-size-content-titleEN: 7.125em; // default - 114px
$font-size-content-page-title: 1.6em; // default - 26px
$font-size-content-titleJP: 1.3125em; // default - 21px
$font-size-content-overview: 1.19em; // default - 19px
$font-size-content-description: 1em; // default - 16px
$font-size-content-genre: 1em; // default - 16px
$font-size-footer-orgName: 1.19em; // default - 19px
$font-size-footer-description: 0.875em; // default - 14px
$font-size-footer-copyright: 0.75em; // default - 12px
// margin
$margin-section-header-bottom: 3rem;
$margin-section: 4.85rem;
$margin-paragraph: 1.85rem;
$about-sentence-height: 2.3rem;
$sentence-height: 1.85rem;
// color
$color-title: #fff;
$color-content: #eee;