// screen size
$screen-size-restricted: 1200px;
// layer-order
$layer-about-image: -1;
$layer-drawing: -2;
// font size
$font-size-landing-title: 48px;
$font-size-landing-date: 34px;
$font-size-concept-title: 48px;
$font-size-concept-subTitle: 27px;
$font-size-section-header: 24px;
$font-size-section-content: 15px;